*.DS_Store
*node_modules/
*.vscode/
rocketseat/node_do_zero/node_modules/
rocketseat/nlw/nlwia/node_modules
rocketseat/api/node_modules/
rocketseat/api/.DS_Store
rocketseat/.DS_Store
rocketseat/api/src/database/database.db
