.progress-bar-container {
  width: 100%;
  background-color: lightgray;
  border-radius: 90px;
}

.progress-bar {
  height: 20px;
  background-color: green;
  width: 0%;
  transition: width 0.5s ease-in-out;
  border-radius: 90px;
}

body{
    background-color: #202124;
    color: lightgray;
}