html{
  zoom: 110%;
}
body{
    background-color: #202124;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 320px;
}

.progress-bar-container {
  width: 100%;
  max-width: 320px;
  background-color: lightgray;
  border-radius: 90px;
}

.progress-bar {
  height: 20px;
  background-color: #3b981c;
  width: 0%;
  max-width: 320px;
  transition: width 0.5s ease-in-out;
  border-radius: 90px;
}

input{
    background-color: lightgray;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    margin: 10px auto;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#activity-el{
  width: 200px;
}

#xp-el{
  width: 50px;
}

#date-el{
  margin-top: 0;
  width: 120px;
  color: #393a3f;
}

#log{
  border: 2px solid #3b981c;
  background-color: #42a91f;
  padding: 5px;
  border-radius: 5px;
  color: #393a3f;
  font-weight: bold;
}

#history-sec-title{
  margin-bottom: 0;
}