html, body {
    margin: 0;
    padding: 0;
    background: #1B1924;
    color: white;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    /* align-items: center; */
    text-align: center;
}

img{
    width: 100px;
    margin: 15px auto 0 auto;
}

h1{
    font-size: 25px;
    margin-bottom: 5px;
}

input {
    color: whitesmoke;
    background-color: #444059;
    border: none;
    padding: 10px 15px 93px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
    font-size: 15px;

}input::placeholder{
    color: #8F8F8F;
}

button {
    background: #28A9F1;
    color: #04131C;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    border: none;
    padding: 17px;
    border-radius: 8px;
    margin: 3px 0;
}

h3{
    font-size: 20px;
    margin-bottom: 19px;
}


ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

ul li{
    background-color: white;
    color: #1B1924;

    border: none;
    padding: 15px;
    margin-bottom: 13px;
    border-radius: 5px;

    text-align: start;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}
